/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #999; }

/*
 * Base structure
 */
html,
body {
  height: 100%; }

body {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #FFFCF2;
  background-image: url(../images/tile.png);
  background-position: center;
  background-repeat: repeat;
  color: #333;
  box-shadow: inset 0 0 5rem rgba(204, 197, 185, 0.9); }

input.btn.btn-primary {
  color: #fffcf2;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #2F6690;
  border: .05rem solid #2F6690;
  margin-bottom: 20px; }

input.btn.btn-primary:hover,
input.btn.btn-primary:focus,
input.btn.btn-primary:active {
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #6599c2;
  border: .05rem solid #6599c2; }

.guessField {
  font-style: italic;
  font-weight: bold; }

#guessField {
  width: 30%;
  margin-left: 15px; }

.guesses {
  color: #3c5453; }

.coverContainer {
  max-width: 42em; }

.form-group {
  display: flex;
  justify-content: center; }

/*
 * Header
 */
.masthead {
  margin-bottom: 1rem; }

.masthead-brand {
  margin-bottom: 1.5rem;
  padding: 20px; }

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem; }

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700; }

.cover-heading {
  font-weight: bolder;
  color: #2F6690;
  margin-bottom: 10px; }

button {
  background-color: #20a4f3;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px; }

p.lastResult,
p.guesses,
p.lowOrHi {
  margin-bottom: 15px;
  padding: 10px; }

div.resultParas {
  padding-top: 10px;
  border: 1px dashed #333;
  border-radius: 5px; }

/*
 * Footer
 */
.mastfoot {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5); }
